body{
    background-color: #0075A2;
    /* background-image: url("/bgc.jpg"); */
    /* background:radial-gradient(rgb(230, 113, 181),rgb(231, 214, 214)); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    color: #00FFC5;
    
}
ul{
    list-style: none;
}
.container{
    /* background-color: antiquewhite; */
    padding: 10px;
}
li{
    /* margin-left: 20px; */
    padding:10px
}