<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update?id={{id}}" method="POST">
        <label for="category">category:</label>
        <select id="category" name="catogery" value="{{catogery}}">
            <option value="food">food</option>
            <option value="fuel">fuel</option>
            <option value="rent">rent</option>
            <option value="bills">bills</option>
            <option value="stocks">stocks</option>
            <option value="savings">savings</option>
        </select>
        {{!-- <input type="text" placeholder="category" name="catogery" value="{{catogery}}"  > --}}
        <input type="text" placeholder="price" name="amount" value="{{amount}}"  >
        <button type="submit">Submit</button>
    </form>
</body>
</html>